header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-wrap {
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  max-height: 400px;
  overflow-y: auto;
  background: gray;
  width: 100%;
}

#msg-input {
  width: 100%;
}
.sender {
  display: flex;
  gap: 1rem;
  background: lightgray;
}

.msg {
  display: flex;
  justify-content: space-between;
}
